@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato&family=Poppins:wght@300&family=Rubik:ital,wght@0,500;0,600;1,600&family=Work+Sans:wght@600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
* {
  box-sizing: border-box;
}

.Profile {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 170px;
  line-height: 170px;
  text-align: center;
  zoom: 0.4;
  cursor: pointer;
}
.Profile-border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  padding: 0px;
  -webkit-animation: rotate 5.5s infinite linear;
  animation: rotate 5.5s infinite linear;
}
.Profile-border-segment {
  position: absolute;
  top: -10px;
  left: -10px;
}
.Profile-border-segmentContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: 50% 50%;
}
.Profile-borderMask {
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -10px;
}
.Profile-border-segmentContainer:nth-child(1) {
  transform: rotate(12deg);
}
.Profile-border-segmentContainer:nth-child(1) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.013333333333333s;
  animation-delay: 0.013333333333333s;
}
.Profile-border-segmentContainer:nth-child(2) {
  transform: rotate(24deg);
}
.Profile-border-segmentContainer:nth-child(2) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.026666666666667s;
  animation-delay: 0.026666666666667s;
}
.Profile-border-segmentContainer:nth-child(3) {
  transform: rotate(36deg);
}
.Profile-border-segmentContainer:nth-child(3) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.04s;
  animation-delay: 0.04s;
}
.Profile-border-segmentContainer:nth-child(4) {
  transform: rotate(48deg);
}
.Profile-border-segmentContainer:nth-child(4) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.053333333333333s;
  animation-delay: 0.053333333333333s;
}
.Profile-border-segmentContainer:nth-child(5) {
  transform: rotate(60deg);
}
.Profile-border-segmentContainer:nth-child(5) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.066666666666667s;
  animation-delay: 0.066666666666667s;
}
.Profile-border-segmentContainer:nth-child(6) {
  transform: rotate(72deg);
}
.Profile-border-segmentContainer:nth-child(6) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.08s;
  animation-delay: 0.08s;
}
.Profile-border-segmentContainer:nth-child(7) {
  transform: rotate(84deg);
}
.Profile-border-segmentContainer:nth-child(7) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.093333333333333s;
  animation-delay: 0.093333333333333s;
}
.Profile-border-segmentContainer:nth-child(8) {
  transform: rotate(96deg);
}
.Profile-border-segmentContainer:nth-child(8) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.106666666666667s;
  animation-delay: 0.106666666666667s;
}
.Profile-border-segmentContainer:nth-child(9) {
  transform: rotate(108deg);
}
.Profile-border-segmentContainer:nth-child(9) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
.Profile-border-segmentContainer:nth-child(10) {
  transform: rotate(120deg);
}
.Profile-border-segmentContainer:nth-child(10) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.133333333333333s;
  animation-delay: 0.133333333333333s;
}
.Profile-border-segmentContainer:nth-child(11) {
  transform: rotate(132deg);
}
.Profile-border-segmentContainer:nth-child(11) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.146666666666667s;
  animation-delay: 0.146666666666667s;
}
.Profile-border-segmentContainer:nth-child(12) {
  transform: rotate(144deg);
}
.Profile-border-segmentContainer:nth-child(12) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.Profile-border-segmentContainer:nth-child(13) {
  transform: rotate(156deg);
}
.Profile-border-segmentContainer:nth-child(13) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.173333333333333s;
  animation-delay: 0.173333333333333s;
}
.Profile-border-segmentContainer:nth-child(14) {
  transform: rotate(168deg);
}
.Profile-border-segmentContainer:nth-child(14) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.186666666666667s;
  animation-delay: 0.186666666666667s;
}
.Profile-border-segmentContainer:nth-child(15) {
  transform: rotate(180deg);
}
.Profile-border-segmentContainer:nth-child(15) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.Profile-border-segmentContainer:nth-child(16) {
  transform: rotate(192deg);
}
.Profile-border-segmentContainer:nth-child(16) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.213333333333333s;
  animation-delay: 0.213333333333333s;
}
.Profile-border-segmentContainer:nth-child(17) {
  transform: rotate(204deg);
}
.Profile-border-segmentContainer:nth-child(17) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.226666666666667s;
  animation-delay: 0.226666666666667s;
}
.Profile-border-segmentContainer:nth-child(18) {
  transform: rotate(216deg);
}
.Profile-border-segmentContainer:nth-child(18) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.24s;
  animation-delay: 0.24s;
}
.Profile-border-segmentContainer:nth-child(19) {
  transform: rotate(228deg);
}
.Profile-border-segmentContainer:nth-child(19) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.253333333333333s;
  animation-delay: 0.253333333333333s;
}
.Profile-border-segmentContainer:nth-child(20) {
  transform: rotate(240deg);
}
.Profile-border-segmentContainer:nth-child(20) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.266666666666667s;
  animation-delay: 0.266666666666667s;
}
.Profile-border-segmentContainer:nth-child(21) {
  transform: rotate(252deg);
}
.Profile-border-segmentContainer:nth-child(21) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.28s;
  animation-delay: 0.28s;
}
.Profile-border-segmentContainer:nth-child(22) {
  transform: rotate(264deg);
}
.Profile-border-segmentContainer:nth-child(22) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.293333333333333s;
  animation-delay: 0.293333333333333s;
}
.Profile-border-segmentContainer:nth-child(23) {
  transform: rotate(276deg);
}
.Profile-border-segmentContainer:nth-child(23) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.306666666666667s;
  animation-delay: 0.306666666666667s;
}
.Profile-border-segmentContainer:nth-child(24) {
  transform: rotate(288deg);
}
.Profile-border-segmentContainer:nth-child(24) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.Profile-border-segmentContainer:nth-child(25) {
  transform: rotate(300deg);
}
.Profile-border-segmentContainer:nth-child(25) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.333333333333333s;
  animation-delay: 0.333333333333333s;
}
.Profile-border-segmentContainer:nth-child(26) {
  transform: rotate(312deg);
}
.Profile-border-segmentContainer:nth-child(26) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.346666666666667s;
  animation-delay: 0.346666666666667s;
}
.Profile-border-segmentContainer:nth-child(27) {
  transform: rotate(324deg);
}
.Profile-border-segmentContainer:nth-child(27) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.36s;
  animation-delay: 0.36s;
}
.Profile-border-segmentContainer:nth-child(28) {
  transform: rotate(336deg);
}
.Profile-border-segmentContainer:nth-child(28) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.373333333333333s;
  animation-delay: 0.373333333333333s;
}
.Profile-border-segmentContainer:nth-child(29) {
  transform: rotate(348deg);
}
.Profile-border-segmentContainer:nth-child(29) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.386666666666667s;
  animation-delay: 0.386666666666667s;
}
.Profile-border-segmentContainer:nth-child(30) {
  transform: rotate(360deg);
}
.Profile-border-segmentContainer:nth-child(30) .Profile-border-segment {
  transform-origin: 180px 50%;
  -webkit-animation: scale 2.5s infinite linear;
  animation: scale 2.5s infinite linear;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.Profile-imageMask {
  background: #ccc;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  18% {
    transform: scale(0.01, 0.01);
  }
  33% {
    transform: scale(0.01, 0.01);
  }
  51% {
    transform: scale(1, 1);
  }
}
@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  18% {
    transform: scale(0.01, 0.01);
  }
  33% {
    transform: scale(0.01, 0.01);
  }
  51% {
    transform: scale(1, 1);
  }
}

.r-title {
  margin-top: var(--rTitleMarginTop, 0) !important;
  margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
helper to hide elements that are available only for screen readers. 
*/

.screen-reader {
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;

  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

/*
=====
POPUP
=====
*/

/*
1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
*/

.popup:not(:target) {
  display: none;
}

.popup:target {
  width: 100%;
  height: 100vh;

  display: flex;

  position: fixed;
  top: 0;
  right: 0;
}

.popup::before {
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;

  position: fixed;
  left: 0;
  top: 50%;
}

.popup::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f0f0f0;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

.popup__container {
  box-sizing: border-box;
  padding: 5% 15%;

  height: calc(100vh - 40px); /* 1 */
  margin: auto; /* 1 */
  overflow: auto; /* 1 */
  overscroll-behavior: contain; /* 1 */
}

.popup__title {
  --rTitleMarginBottom: 1.5rem;
  font-size: 1.5rem;
}

.popup__close {
  width: 2rem;
  height: 2rem;

  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
animation
*/

.popup::before {
  will-change: height, top;
  animation: open-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) 0.65s both;
}

.popup::after {
  will-change: width, opacity;
  animation: line-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation {
  0% {
    width: 0;
    opacity: 1;
  }

  99% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes open-animation {
  0% {
    height: 0;
    top: 50%;
  }

  100% {
    height: 100vh;
    top: 0;
  }
}

.popup__container {
  animation: fade 0.5s ease-out 1.3s both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
=====
DEMO
=====
*/

.open-popup {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  border: 1px solid;
  z-index: 200;
}

.page {
  min-height: 100vh;
  display: flex;
}

.page__container {
  max-width: 1200px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: auto;
}

.sidebar {
  width: 450px;
  min-width: 250px;
  padding: 20px 20px;
  height: 100vh;
  border-right: 1px solid #f0f0f0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar > * {
  font-family: Gadget, sans-serif;
  margin-top: 20px;
}

.link {
  display: flex;
  align-items: cover;
  cursor: pointer;
  border-radius: 30px;
}
.link:hover {
  background-color: #e8f5fe;
  color: #4cc9f0;
  transition: color 100ms ease-out;
}
.link > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.link > p {
  padding-right: 20px;
  padding-left: 20px;
}

.sidebar > .divider {
  text-transform: uppercase;
  color: gray;
  letter-spacing: 2px;
  padding: 20px 20px;
}

.settingsContainer {
  position: absolute;
  left: 56%;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
  right: 23%;
  position: relative;
}
