@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato&family=Poppins:wght@300&family=Rubik:ital,wght@0,500;0,600;1,600&family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bangers&family=Lato&family=Poppins:wght@300&family=Rubik:ital,wght@0,500;0,600;1,600&family=Work+Sans:wght@600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
* {
  box-sizing: border-box !important;
}

.popup:not(:target) {
  display: none;
}

.popup:target {
  width: 100%;
  height: 100vh;

  display: flex;

  position: fixed;
  top: 0;
  right: 0;
}

.popup::before {
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;

  position: fixed;
  left: 0;
  top: 50%;
}

.popup::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f0f0f0;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

.popup__container {
  box-sizing: border-box;
  padding: 5% 15%;

  height: calc(100vh - 40px); /* 1 */
  margin: auto; /* 1 */
  overflow: auto; /* 1 */
  overscroll-behavior: contain; /* 1 */
}

.popup__title {
  --rTitleMarginBottom: 1.5rem;
  font-size: 1.5rem;
}

.popup__close {
  width: 2rem;
  height: 2rem;

  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
animation
*/

.popup::before {
  will-change: height, top;
  animation: open-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) 0.65s both;
}

.popup::after {
  will-change: width, opacity;
  animation: line-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation {
  0% {
    width: 0;
    opacity: 1;
  }

  99% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes open-animation {
  0% {
    height: 0;
    top: 50%;
  }

  100% {
    height: 100vh;
    top: 0;
  }
}

.popup__container {
  animation: fade 0.5s ease-out 1.3s both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
=====
DEMO
=====
*/

.open-popup {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  border: 1px solid;
  z-index: 200;
}

.page {
  min-height: 100vh;
  display: flex;
}

.page__container {
  max-width: 1200px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: auto;
}

.sidebar {
  width: 450px;
  min-width: 250px;
  padding: 20px 20px;
  height: 100vh;
  border-right: 1px solid #f0f0f0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar > * {
  font-family: Gadget, sans-serif;
  margin-top: 20px;
}

.link {
  display: flex;
  align-items: cover;
  cursor: pointer;
  border-radius: 30px;
}
.link:hover {
  background-color: #e8f5fe;
  color: #4cc9f0;
  transition: color 100ms ease-out;
}
.link > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.link > p {
  padding-right: 20px;
  padding-left: 20px;
}

.sidebar > .divider {
  text-transform: uppercase;
  color: gray;
  letter-spacing: 2px;
  padding: 20px 20px;
}

.settingsContainer {
  position: absolute;
  left: 56%;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 90%;
  max-width: 500px;
}
form #form-title {
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}
form #debt-amount-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form #debt-amount-slider::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  width: calc(100% * (4 / 5));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form #debt-amount-slider input,
form #debt-amount-slider label {
  box-sizing: border-box;
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
form #debt-amount-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form #debt-amount-slider label::before {
  content: attr(data-debt-amount);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 45px);
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
form #debt-amount-slider label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form #debt-amount-slider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}
form #debt-amount-slider input {
  display: none;
}
form #debt-amount-slider input:checked + label::before {
  font-weight: 800;
  opacity: 1;
}
form #debt-amount-slider input:checked + label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}
form #debt-amount-slider input:checked ~ #debt-amount-pos {
  opacity: 1;
}
form #debt-amount-slider input:checked:nth-child(1) ~ #debt-amount-pos {
  left: 10%;
}
form #debt-amount-slider input:checked:nth-child(3) ~ #debt-amount-pos {
  left: 30%;
}
form #debt-amount-slider input:checked:nth-child(5) ~ #debt-amount-pos {
  left: 50%;
}
form #debt-amount-slider input:checked:nth-child(7) ~ #debt-amount-pos {
  left: 70%;
}
form #debt-amount-slider input:checked:nth-child(9) ~ #debt-amount-pos {
  left: 90%;
}
form #debt-amount-slider #debt-amount-pos {
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  opacity: 0;
  z-index: 2;
}
form:valid #debt-amount-slider input + label::before {
  transform: translate(-50%, 45px) scale(0.9);
  transition: all 0.15s linear;
}
form:valid #debt-amount-slider input:checked + label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 0.15s linear;
}
form + button {
  display: block;
  position: relative;
  margin: 56px auto 0;
  padding: 10px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.15s ease-in-out;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
form + button:hover {
  background: #000;
  color: #fff;
}
form + button:hover:active {
  transform: scale(0.9);
}
form + button:focus {
  background: #4caf50;
  border-color: #4caf50;
  color: #fff;
  pointer-events: none;
}
form + button:focus::before {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
form + button::before {
  display: inline-block;
  width: 0;
  opacity: 0;
  content: "ï´";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  margin-right: 0;
  transform: rotate(0deg);
}
form:invalid + button {
  pointer-events: none;
  opacity: 0.25;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}

.divider {
  text-transform: uppercase;
  color: gray;
  letter-spacing: 2px;
  padding: 20px 20px;
  font-family: Gadget, sans-serif;
  font-family: "Bakbak One", cursive;
  font-family: "Bangers", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

.inputGroup label {
  padding: 12px 30px;
  width: 200px;
  display: block;
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  border-radius: 5px;
  background-color: #5562eb;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 4px 5px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
  zoom: 0.7;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  order: 99;
}
.actions .follow-info {
  padding: 0 0 1rem;
  display: flex;
}
.actions .follow-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}
.actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}
.actions .follow-info h2 a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  transform: scaleY(1.1);
  transition: color 100ms ease-in-out;
  font-size: 35px;
}
.actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}
.actions .follow-info h2 a:hover {
}
.actions .follow-info h2 a:hover span {
  color: #007ad6;
}
.actions .follow-btn button {
  color: inherit;
  font: inherit;
  font-weight: bold;
  background-color: #ffd01a;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out,
    transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.actions .follow-btn button:hover {
  background-color: #efb10a;
  transform: scale(1.1);
}
.actions .follow-btn button:active {
  background-color: #e8a200;
  transform: scale(1);
}

:root {
  --color-1: #000;
  --color-2: #fff;
  --shadow: #1c1c1c;
  --line-color: #000;
}
#container {
  position: relative;
  top: 10px;
}

/*parttern for circles*/
.circle {
  position: relative;

  border: 4px solid var(--line-color);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

/*main body */
#box {
  width: 45%;
  min-width: 200px;

  background-color: var(--color-1);
  box-shadow: inset 5px -5px var(--shadow), inset -5px 5px var(--light);
  z-index: 1;
}

/*inside part*/
#glass {
  width: 85%;

  background-color: var(--color-2);
  box-shadow: inset -5px 5px var(--shadow), inset 5px -5px var(--light);

  overflow: hidden;
}

/*time markers*/
#marker {
  position: absolute;
  top: 0;
  left: 0px;

  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.marker {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  width: calc(100% / 120);
  height: 100%;

  background: linear-gradient(
    to bottom,
    var(--line-color) 5%,
    transparent 5%,
    transparent 95%,
    var(--line-color) 5%
  );
}

/*pointers*/
.pointer {
  transform-origin: bottom;
  left: 50%;
}

#pointer-min {
  position: absolute;
  top: 8%;
  transform: translate(-50%);

  width: 3px;
  height: 42%;

  background-color: var(--line-color);
}

#pointer-seg {
  position: absolute;
  top: 0%;
  transform: translate(-50%);

  width: 2px;
  height: 50%;

  background-color: red;
}

#point {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 15px;
  height: 15px;
  padding: 3px;

  background-color: var(--line-color);
  border-radius: 50%;
}

#point > div {
  width: 100%;
  height: 100%;

  background-color: var(--color-1);
  border-radius: 50%;
}

/*button play / pause*/
#btn-play,
#btn-pause,
#btn-reset {
  position: absolute;

  background-color: var(--color-1);
  border: 4px solid var(--line-color);
  box-shadow: inset -1px 1px var(--shadow);

  cursor: pointer;
}

#btn-play {
  top: -12px;
  left: 50%;
  transform: translate(-50%);

  width: 10%;
  height: 12px;
}

#btn-play > div,
#btn-reset > div,
#btn-pause > div {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translate(-50%);

  width: 190%;
  height: 6px;

  display: flex;
  justify-content: space-between;

  pointer-events: none;
}

#btn-play > div > span,
#btn-reset > div > span,
#btn-pause > div > span {
  width: 2px;
  background: var(--line-color);
}

#btn-reset {
  top: -8px;
  left: 50%;
  transform: translate(-50%);

  width: 10%;
  height: 7px;
}

#btn-reset {
  display: none;
}

#btn-pause {
  right: 9%;
  top: 10%;
  transform: rotate(45deg);

  width: 7%;
  height: 12px;
}

#btn-play::before,
#btn-pause::before,
#btn-reset::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translate(-50%);

  width: 230%;
  height: 10px;

  background-color: var(--color-1);
  border: 4px solid var(--line-color);
  border-radius: 5px;
  box-shadow: inset 3px -3px var(--shadow), inset -3px 3px var(--light);
}

#digital {
  font-size: 30px;
  font-family: Gadget, sans-serif;
  font-family: "Bakbak One", cursive;
  font-family: "Bangers", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
