.container {
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 20px;
  position: relative;
}

.container > * {
  margin-right: 14px;
  color: #a4a7ab;
  font-size: 24px;
  top: 10px;
}

.container > a:hover {
  text-decoration: underline;
}

@media (max-width: 1440px) {
  .container > * {
    font-size: 1.3vw;
  }
}
