.container {
  width: 100vw;
  height: 100vh;
}

.container > div {
  height: 100vh;
  box-sizing: border-box;
}
.container > div > .game {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.leftWrap {
  border-right: 3px solid #fafafa;
  height: 100%;
  width: 30%;
  box-sizing: border-box;
}

.letterWrap {
  display: flex;
  height: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #fafafa;
  box-sizing: border-box;
  background-size: 8px;
}

.label {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 1;
  padding: 30px;
}

.letter {
  color: var(--primary, #000);
  box-sizing: border-box;
  font-size: 16vw;
  text-align: center;
  font-family: Gadget, sans-serif;
  font-family: "Bakbak One", cursive;
  font-family: "Bangers", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
}

.timer {
  font-family: Gadget, sans-serif;
  font-family: "Bakbak One", cursive;
  font-family: "Bangers", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
}

.center {
  color: var(--primary, #000);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 45%;
  position: relative;
  border-right: 3px solid #fafafa;
}

.gameInfoWrap {
  font-feature-settings: "kern";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 17.33333px;
  --primary: #222222;
  --primary-rgb: 34, 34, 34;
  --secondary: #ffffff;
  --secondary-rgb: 255, 255, 255;
  font-family: Didactic;
  color: var(--primary, #000);
  box-sizing: border-box;
  height: 50%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.timeWrap {
  font-feature-settings: "kern";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 17.33333px;
  --primary: #222222;
  --primary-rgb: 34, 34, 34;
  --secondary: #ffffff;
  --secondary-rgb: 255, 255, 255;
  font-family: Didactic;
  color: var(--primary, #000);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  flex: 0 0 50%;
  border-bottom: none;
}

.playWrap {
  color: var(--primary, #000);
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-left: 3px solid #fafafa;
}

.rightWrap {
  width: 25%;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.gameContainer {
  display: flex;
  height: 90vh;
  position: relative;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  margin-top: -10px;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 200px;
}

.gameContainer > div > div > h1 {
  font-weight: 400;
  max-width: 225px;
  width: 225px;
  font-size: 30px;
}

.tile {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.gameContainer > * {
  transition: all 0.3s ease;
  user-select: none;
}

.blur {
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: url(#blur);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3') grayscale(100%);
  user-select: none;
}


@media (max-width: 1440px) {
.rightWrap > * {
  zoom:0.83
} 
}
